{% extends "redditclone/base.html" %}

{% block content_title %}
  <h2>Start a tread</h2>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center align-content-center">
        <form class="form" method="post" action="{% url 'create_tread' %}">
        {% csrf_token %}
        <h3 class=" text-info">Create a tread</h3>
        <div class="form-group">
          {{form.title.label_tag}}<br>
          {{form.title}}<br>
          {{form.errors.title}}
        </div>
        <div class="form-group">
          {{form.comment.label_tag}}<br>
          {{form.comment}}<br>
          {{form.errors.comment}}
        </div>
        <div class="d-flex justify-content-center">
          <input class="btn-primary" type="submit" value="Create">
          <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        </div>
        </form>
  </div>
</div>

{% endblock %}